{% extends 'layout/base_fullscreen.html' %}
{% load static %}


{% block head %}
    
{% head %}


{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 mx-auto">
                <form method="post" class="card shadow-lg">
                    <!-- {% csrf_token %} -->
                    <div class="card-header text-center bg-dark text-light">
                        <h3>SELLER LOGIN</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control form-control-lg" name="username" id="username"
                                aria-describedby="userHelp" placeholder="Username" />
                        </div>
                        <div class="">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control form-control-lg" name="password" id="password"
                                aria-describedby="passHelp" placeholder="password" />
                        </div>
                        <div class="d_grid text-end">
                            <a class="fw-bold text-primary nav-link p-2" href="{% url 'register' %}">Forgot Password !</a>
                        </div>
                        <div class="d-grid text-center">
                            
                            <button class="btn btn-dark">
                                Login
                            </button>
                            <a class="fw-bold text-primary nav-link p-3" href="{% url 'register' %}">Create an account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block css %}
    <style>
        body{
            background-color: #c3c5c6;
        }
        main {
            display: grid;
            place-items: center;
            height: 100vh;
        }
    </style>
{% endblock %}
    

{% block jss %}
    <script>

    </script> 
{% endblock %}